Packs/Illumio/Playbooks/playbook-Rapid_ransomware_containment_-_Illumio.yml
id: Rapid ransomware containment - Illumio
version: -1
name: Rapid ransomware containment - Illumio
description: |+
  Isolate one or more workloads based on traffic flows to a given port/protocol.

starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: adf98b58-fae7-4a48-84cc-832992d92d27
    type: start
    task:
      id: adf98b58-fae7-4a48-84cc-832992d92d27
      version: -1
      name: ""
      iscommand: false
      brand: ""
      description: ''
    nexttasks:
      '#none#':
      - "20"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 265,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: 8e3420aa-0560-4dbb-8f9a-9265b5669ce0
    type: regular
    task:
      id: 8e3420aa-0560-4dbb-8f9a-9265b5669ce0
      version: -1
      name: Get traffic analysis
      description: Retrieves traffic flow of a particular port & protocol within the specified time range based on policy decisions.
      script: '|||illumio-traffic-analysis'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "21"
    scriptarguments:
      end_time:
        complex:
          root: Enter the necessary inputs.Answers
          accessor: "1"
      extend-context:
        simple: Illumio.TrafficAnalysis.Workload.href=dst.workload.href
      ignore-outputs:
        simple: "true"
      port:
        complex:
          root: inputs.Port
          transformers:
          - operator: trim
      protocol:
        complex:
          root: inputs.Protocol
          transformers:
          - operator: trim
          - operator: toLowerCase
      start_time:
        complex:
          root: Enter the necessary inputs.Answers
          accessor: "0"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 60,
          "y": 895
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: 138bc3b9-1b7d-46a2-88a9-2d31827f872d
    type: regular
    task:
      id: 138bc3b9-1b7d-46a2-88a9-2d31827f872d
      version: -1
      name: Create virtual service
      description: Creates a virtual service for a particular port & protocol, which can be further binded to workloads. Until provisioned with the 'illumio-object-provision' command, this object will remain in a draft state.
      script: '|||illumio-virtual-service-create'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "3"
    scriptarguments:
      name:
        complex:
          root: inputs.Protocol
          transformers:
          - operator: trim
          - operator: SetIfEmpty
            args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: TCP
          - operator: concat
            args:
              prefix:
                value:
                  simple: '-'
              suffix: {}
          - operator: concat
            args:
              prefix:
                value:
                  simple: inputs.Port
                iscontext: true
              suffix: {}
          - operator: concat
            args:
              prefix:
                value:
                  simple: VS-XSOAR-
              suffix: {}
          - operator: replace
            args:
              limit: {}
              replaceWith: {}
              toReplace:
                value:
                  simple: ' '
      port:
        complex:
          root: inputs.Port
          transformers:
          - operator: trim
      protocol:
        complex:
          root: inputs.Protocol
          transformers:
          - operator: trim
          - operator: toUpperCase
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 275,
          "y": 1245
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: dbac7cd3-9b89-4bdf-8d67-1acc52a537ad
    type: regular
    task:
      id: dbac7cd3-9b89-4bdf-8d67-1acc52a537ad
      version: -1
      name: Provision virtual service
      description: A utility method for provisioning policy objects from draft to active state. Policy objects only affect the network once they've been provisioned.
      script: '|||illumio-object-provision'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "4"
    scriptarguments:
      security_policy_objects:
        complex:
          root: Illumio.VirtualService
          accessor: href
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 275,
          "y": 1420
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: 0bf14589-a048-4b5b-87d9-4da146ade552
    type: regular
    task:
      id: 0bf14589-a048-4b5b-87d9-4da146ade552
      version: -1
      name: Create service binding
      description: Binds the existing or a new virtual service to the workloads.
      script: '|||illumio-service-binding-create'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "5"
    scriptarguments:
      virtual_service:
        complex:
          root: Illumio.VirtualService
          accessor: href
      workloads:
        complex:
          root: Illumio.TrafficAnalysis.Workload
          accessor: href
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 275,
          "y": 1595
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "5":
    id: "5"
    taskid: ed615b30-c188-42d2-8cbd-c539a23a66d3
    type: regular
    task:
      id: ed615b30-c188-42d2-8cbd-c539a23a66d3
      version: -1
      name: Create ruleset
      description: Creates a ruleset with a unique name. Until provisioned with the 'illumio-object-provision' command, this object will remain in a draft state.
      script: '|||illumio-ruleset-create'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "7"
    scriptarguments:
      name:
        complex:
          root: inputs.Protocol
          transformers:
          - operator: trim
          - operator: SetIfEmpty
            args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: TCP
          - operator: concat
            args:
              prefix:
                value:
                  simple: '-'
              suffix: {}
          - operator: concat
            args:
              prefix:
                value:
                  simple: inputs.Port
                iscontext: true
              suffix: {}
          - operator: concat
            args:
              prefix:
                value:
                  simple: RS-XSOAR-
              suffix: {}
          - operator: replace
            args:
              limit: {}
              replaceWith: {}
              toReplace:
                value:
                  simple: ' '
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 275,
          "y": 1770
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "7":
    id: "7"
    taskid: a0c1ac04-85b2-4329-8e22-2e0fdc2ff11d
    type: regular
    task:
      id: a0c1ac04-85b2-4329-8e22-2e0fdc2ff11d
      version: -1
      name: Create rule
      description: Creates & assigns rules to a particular ruleset. Added or updated Rules will remain in draft state until their containing Rule Set is provisioned using the "illumio-object-provision" command.
      script: '|||illumio-rule-create'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "12"
    scriptarguments:
      consumers:
        complex:
          root: Illumio.IPLists
          accessor: href
      providers:
        complex:
          root: Illumio.VirtualService
          accessor: href
      resolve_providers_as:
        simple: virtual_services
      ruleset_href:
        complex:
          root: Illumio.Ruleset
          accessor: href
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 275,
          "y": 1945
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "9":
    id: "9"
    taskid: 108dd14d-cdc9-4214-828a-ede5b3aebb3e
    type: regular
    task:
      id: 108dd14d-cdc9-4214-828a-ede5b3aebb3e
      version: -1
      name: Create enforcement boundary
      description: Creates an enforcement boundary for a particular port/protocol. After completion of this command, provisioning will be done using the "illumio-object-provision" command.
      script: '|||illumio-enforcement-boundary-create'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "10"
    scriptarguments:
      consumers:
        simple: ${Illumio.IPLists.href}
      name:
        complex:
          root: inputs.Protocol
          transformers:
          - operator: trim
          - operator: SetIfEmpty
            args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: TCP
          - operator: concat
            args:
              prefix:
                value:
                  simple: '-'
              suffix: {}
          - operator: concat
            args:
              prefix:
                value:
                  simple: inputs.Port
                iscontext: true
              suffix: {}
          - operator: concat
            args:
              prefix:
                value:
                  simple: EB-XSOAR-
              suffix: {}
          - operator: replace
            args:
              limit: {}
              replaceWith: {}
              toReplace:
                value:
                  simple: ' '
      port:
        complex:
          root: inputs.Port
          transformers:
          - operator: trim
      protocol:
        complex:
          root: inputs.Protocol
          transformers:
          - operator: trim
          - operator: toUpperCase
      providers:
        simple: ams
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 2295
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "10":
    id: "10"
    taskid: 1a971f1b-570c-4076-8b1d-b9c6aa8bae50
    type: regular
    task:
      id: 1a971f1b-570c-4076-8b1d-b9c6aa8bae50
      version: -1
      name: Provision enforcement boundary
      description: A utility method for provisioning policy objects from draft to active state. Policy objects only affect the network once they've been provisioned.
      script: '|||illumio-object-provision'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "16"
    scriptarguments:
      security_policy_objects:
        complex:
          root: Illumio.EnforcementBoundary
          accessor: href
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 2470
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "12":
    id: "12"
    taskid: 6a052244-b0e6-44b6-8d65-eb6859ed1798
    type: regular
    task:
      id: 6a052244-b0e6-44b6-8d65-eb6859ed1798
      version: -1
      name: Provision ruleset
      description: A utility method for provisioning policy objects from draft to active state. Policy objects only affect the network once they've been provisioned.
      script: '|||illumio-object-provision'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "9"
    scriptarguments:
      security_policy_objects:
        complex:
          root: Illumio.Ruleset
          accessor: href
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 275,
          "y": 2120
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "13":
    id: "13"
    taskid: 2155e899-e77a-4fee-8fda-5689bdb40578
    type: title
    task:
      id: 2155e899-e77a-4fee-8fda-5689bdb40578
      version: -1
      name: end
      type: title
      iscommand: false
      brand: ""
      description: ''
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 265,
          "y": 3520
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "16":
    id: "16"
    taskid: 5beeac44-1ab5-42f5-8484-65912bcfe4e6
    type: condition
    task:
      id: 5beeac44-1ab5-42f5-8484-65912bcfe4e6
      version: -1
      name: Is update enforcement mode?
      description: Checks if user want to update enforcement mode or not.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "17"
      "no":
      - "13"
    separatecontext: false
    conditions:
    - label: "no"
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.update_enforcement_mode
                transformers:
                - operator: trim
                - operator: toLowerCase
            iscontext: true
          right:
            value:
              simple: "no"
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 2645
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "17":
    id: "17"
    taskid: c3e53602-3cb6-42fd-8b4f-e1086b8ec13c
    type: regular
    task:
      id: c3e53602-3cb6-42fd-8b4f-e1086b8ec13c
      version: -1
      name: Get workloads
      description: Retrieves the list of workloads based on the provided filters.
      script: '|||illumio-workloads-list'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "22"
    scriptarguments:
      enforcement_mode:
        simple: visibility_only
      execution-timeout:
        simple: "3600"
      extend-context:
        simple: Illumio.workload_hrefs=href
      ignore-outputs:
        simple: "true"
      max_results:
        simple: "1000"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 265,
          "y": 2820
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "18":
    id: "18"
    taskid: 8bc264f5-c31b-4de1-8fab-312f34f7cc2a
    type: condition
    task:
      id: 8bc264f5-c31b-4de1-8fab-312f34f7cc2a
      version: -1
      name: Is traffic allowed?
      description: Checks whether the traffic flow is allowed or not.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "19"
      "no":
      - "9"
    separatecontext: false
    conditions:
    - label: "no"
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.allow_traffic
                transformers:
                - operator: trim
                - operator: toLowerCase
            iscontext: true
          right:
            value:
              simple: "no"
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 545
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "19":
    id: "19"
    taskid: ec25071a-2eea-41de-8f0e-4bbcb2f29676
    type: collection
    task:
      id: ec25071a-2eea-41de-8f0e-4bbcb2f29676
      version: -1
      name: Provide necessary inputs
      description: Get the required information for the commands.
      type: collection
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "1"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 60,
          "y": 720
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    message:
      to:
      subject:
      body:
      methods: []
      format: ""
      bcc:
      cc:
      timings:
        retriescount: 2
        retriesinterval: 360
        completeafterreplies: 1
        completeafterv2: false
        completeaftersla: false
    form:
      questions:
      - id: "0"
        label: ""
        labelarg:
          simple: Start time for the traffic analysis
        required: false
        gridcolumns: []
        defaultrows: []
        type: shortText
        options: []
        optionsarg: []
        fieldassociated: ""
        placeholder: 1 week ago
        tooltip: 'Start of analysis range.  Supported formats: N minutes, N hours, N days, N weeks, N months, N years, yyyy-mm-dd, yyyy-mm-ddTHH:MM:SSZ  For example: 01 Mar 2021, 01 Feb 2021 04:45:33, 2022-04-17T14:05:44Z'
        readonly: false
      - id: "1"
        label: ""
        labelarg:
          simple: End time for the traffic analysis
        required: false
        gridcolumns: []
        defaultrows: []
        type: shortText
        options: []
        optionsarg: []
        fieldassociated: ""
        placeholder: Now
        tooltip: 'End of analysis range.  Supported formats: N minutes, N hours, N days, N weeks, N months, N years, yyyy-mm-dd, yyyy-mm-ddTHH:MM:SSZ  For example: 01 Mar 2021, 01 Feb 2021 04:45:33, 2022-04-17T14:05:44Z'
        readonly: false
      title: Enter the necessary inputs.
      description: ""
      sender: ""
      expired: false
      totalanswers: 0
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "20":
    id: "20"
    taskid: 07b8cbbd-647a-42ba-8449-924283e98eae
    type: condition
    task:
      id: 07b8cbbd-647a-42ba-8449-924283e98eae
      version: -1
      name: Is Illumio Core integration enabled?
      description: Checks whether the IllumioCore integration is enabled or not.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "13"
      "yes":
      - "31"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              complex:
                root: modules
                filters:
                - - operator: isEqualString
                    left:
                      value:
                        simple: modules.brand
                      iscontext: true
                    right:
                      value:
                        simple: IllumioCore
                - - operator: isEqualString
                    left:
                      value:
                        simple: modules.state
                      iscontext: true
                    right:
                      value:
                        simple: active
                accessor: brand
            iscontext: true
          ignorecase: true
    view: |-
      {
        "position": {
          "x": 265,
          "y": 195
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "21":
    id: "21"
    taskid: 14d8b8a1-fd61-4262-8278-fd23cb685737
    type: condition
    task:
      id: 14d8b8a1-fd61-4262-8278-fd23cb685737
      version: -1
      name: Are workloads available?
      description: Checks wether workloads are available or not for a given port and protocol.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "9"
      "Yes":
      - "2"
    separatecontext: false
    conditions:
    - label: "Yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              complex:
                root: Illumio.TrafficAnalysis.Workload
                accessor: href
            iscontext: true
    view: |-
      {
        "position": {
          "x": 60,
          "y": 1070
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "22":
    id: "22"
    taskid: 3f9305f8-5be5-46ec-8ea9-8166565f1150
    type: condition
    task:
      id: 3f9305f8-5be5-46ec-8ea9-8166565f1150
      version: -1
      name: Are workloads available?
      description: Checks whether the workloads are available or not.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "30"
      "yes":
      - "23"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              complex:
                root: Illumio
                accessor: workload_hrefs
            iscontext: true
    view: |-
      {
        "position": {
          "x": 265,
          "y": 2995
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "23":
    id: "23"
    taskid: 70fd76f6-a0ce-4b51-88e9-6bab1002bb4a
    type: playbook
    task:
      id: 70fd76f6-a0ce-4b51-88e9-6bab1002bb4a
      version: -1
      name: Update enforcement mode - Illumio
      playbookName: Update enforcement mode - Illumio
      type: playbook
      iscommand: false
      brand: ""
      description: ''
    nexttasks:
      '#none#':
      - "26"
    separatecontext: false
    loop:
      iscommand: false
      builtincondition:
      - - operator: isEmpty
          left:
            value:
              complex:
                root: Illumio
                accessor: workload_hrefs
            iscontext: true
          right:
            value: {}
        - operator: notContainsGeneral
          left:
            value:
              complex:
                root: Illumio.UpdateStatuses
                accessor: status
            iscontext: true
          right:
            value:
              simple: Updated
          ignorecase: true
      exitCondition: ""
      wait: 1
      max: 1000
    view: |-
      {
        "position": {
          "x": 480,
          "y": 3170
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "26":
    id: "26"
    taskid: 2177e56b-7ae6-4733-8e5b-7ae7ae490c59
    type: regular
    task:
      id: 2177e56b-7ae6-4733-8e5b-7ae7ae490c59
      version: -1
      name: Workload status
      description: Prints text to war room (Markdown supported)
      scriptName: Print
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "13"
    scriptarguments:
      value:
        complex:
          root: Illumio
          accessor: workload_hrefs
          transformers:
          - operator: count
          - operator: concat
            args:
              prefix: {}
              suffix:
                value:
                  simple: ' workloads are pending to update the mode.'
          - operator: replace
            args:
              limit: {}
              replaceWith:
                value:
                  simple: Enforcement mode has been updated for all workloads.
              toReplace:
                value:
                  simple: 0 workloads are pending to update the mode.
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 3345
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "30":
    id: "30"
    taskid: ef24f30c-9ec5-4469-8964-92153981f595
    type: regular
    task:
      id: ef24f30c-9ec5-4469-8964-92153981f595
      version: -1
      name: Print message for no workloads
      description: Prints text to war room (Markdown supported)
      scriptName: Print
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "13"
    scriptarguments:
      value:
        simple: No workloads present in visibility only mode.
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 3345
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "31":
    id: "31"
    taskid: 101f8879-6ce1-4fc4-8e0d-82d1a87f0893
    type: regular
    task:
      id: 101f8879-6ce1-4fc4-8e0d-82d1a87f0893
      version: -1
      name: Get ip lists
      description: Retrieves the list of IPs based on the query parameters.
      script: '|||illumio-ip-lists-get'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "18"
    scriptarguments:
      name:
        simple: Any (0.0.0.0/0 and ::/0)
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 370
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {
      "16_13_no": 0.16,
      "16_17_#default#": 0.54,
      "18_9_no": 0.19,
      "21_9_#default#": 0.18,
      "22_30_#default#": 0.57
    },
    "paper": {
      "dimensions": {
        "height": 3535,
        "width": 810,
        "x": 50,
        "y": 50
      }
    }
  }
inputs:
- key: Port
  value: {}
  required: true
  description: Provide Port to be blocked.
  playbookInputQuery:
- key: Protocol
  value:
    simple: TCP
  required: false
  description: Protocol of Port.
  playbookInputQuery:
- key: allow_traffic
  value:
    simple: "Yes"
  required: false
  description: Do You want to allow traffic on this port? (Yes or No)
  playbookInputQuery:
- key: update_enforcement_mode
  value:
    simple: "Yes"
  required: false
  description: Do you want to update the enforcement mode?(Yes or No)
  playbookInputQuery:
outputs: []
tests:
- IllumioCore-Test
fromversion: 6.2.0
